<section class="episode-organizing-bar">
  <div>
    <input type="text" name="Search" value="Search">
    <select class="order" name="Change Order">
      <option value="Newest First">Newest First</option>
      <option value="Oldest First">Oldest First</option>
    </select>
    <select class="subject" name="Pick Subject">
      <option value=""><a>All Subjects</a></option>
      <option value="Radical Technology">Radical Technology</option>
      <option value="Technological Criticality">Technological Criticality</option>
      <option value="Coding Languages">Coding Languages</option>
      <option value="Livecoding">Livecoding</option>
    </select>
  </div>
</section>
