<section class="episode-organizing-bar">
  <div>
    <div id="search-container">
      <input id="search-input" type="text" name="Search" placeholder="Search">
      <ul id="results-container"></ul>
    </div>
    <div id="placeholder"></div>
    <select class="order" name="Change Order">
      <option value="Newest First">Newest First</option>
      <option value="Oldest First">Oldest First</option>
    </select>
    <select class="subject" name="Pick Subject">
      <option value=""><a>All Subjects</a></option>
      <option value="Esolangs">Esolangs</option>
      <option value="Computing History">Computing History</option>
      <option value="Livecoding">Livecoding</option>
      <option value="Activism">Activism</option>
      <option value="Tools">Tools</option>
      <option value="Algorithmic Inequality">Algorithmic Inequality</option>
      <option value="Speculative Futurism">Speculative Futurism</option>
      <option value="Worldbuilding">Worldbuilding</option>
    </select>
  </div>

</section>
