<section class="episode-page">
  <div class="bigdisplay">
    <div>
      <h4>Related Episodes - {{ page.related-episode }}</h4>
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <section class="episode-content">
    <h3 class="description">{{ page.description }}</h3>
    <div class="tags">
      <div class="categories">
        <h3>Tags:</h3>
        {% assign allTags = page.tags %}
        {% for tag in allTags %}
        <h5 class="tag">
          {{ tag }}
        </h5>
        {% endfor %}
      </div>

      <div class="contributors">
        <h3>Creator:</h3>
        <h5 class="tag1">
          {{ page.creator }}
        </h5>
      </div>
    </div>



    <section>
      {{ content }}
    </section>
  </section>
</section>
