<section class="episode-page">
  <div class="bigdisplay">
    {% assign allEpisodes = page.related-episode %}
    {% assign allEpLinks = page.ep_links %}
    {% assign link1 = allEpLinks[0] %}
    {% assign link2 = allEpLinks[1] %}
    {% assign link3 = allEpLinks[2] %}
    {% assign link4 = allEpLinks[3] %}
    {% assign link5 = allEpLinks[4] %}
    <div>
      <h4>Related Episodes - {% for link in allEpLinks %}<a href="{{ site.baseurl }} {% cycle "link1, link2, link3, link4, link5" %}">{{ page.related-episode }}</a>{% endfor %}</h4>
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <section class="episode-content">
    <h3 class="description">{{ page.description }}</h3>
    <div class="tags">
      <div class="categories">
        <h3>Tags:</h3>
        {% assign allTags = page.tags %}
        {% for tag in allTags %}
        <h5 class="tag">
          {{ tag }}
        </h5>
        {% endfor %}
      </div>

      <div class="contributors">
        <h3>Creator:</h3>
        <h5 class="tag1">
          {{ page.creator }}
        </h5>
      </div>
    </div>



    <section>
      {{ content }}
    </section>
  </section>
</section>
