<section class="episode-page">
  <div class="bigdisplay">
    {% assign allEpisodes = page.related-episode %}
    {% assign allEpLinks = page.eplink %}

    <div>
      <h4>Featured In - <a href="{{ page.epLink }}">{{ page.related-episode }}</a></h4>
      <h2>{{ page.title }}</h2>
    </div>
  </div>
  <section class="episode-content">
    <h3 class="description">{{ page.description }}</h3>
    <div class="tags">
      <div class="categories">
        <h3>Tags:</h3>
        {% assign allTags = page.tags %}
        {% for tag in allTags %}
        <h5 class="tag">
          {{ tag }}
        </h5>
        {% endfor %}
      </div>

      <div class="contributors">
        <h3>Creator:</h3>
        {% assign allCreators = page.creators %}
        {% assign allCreatorLinks = page.creatorLinks %}
        {% assign link1 = allCreatorLinks[0] %}
        {% assign link2 = allCreatorLinks[1] %}
        {% assign link3 = allCreatorLinks[2] %}
        {% assign link4 = allCreatorLinks[3] %}
        {% assign link5 = allCreatorLinks[4] %}
        {% for creator in allCreators %}
        <h5 class="tag">
        <a href="{% cycle "link1, link2, link3, link4, link5" %}">{{ creator }}</a>
        </h5>
        {% endfor %}
      </div>
    </div>



    <section>
      {{ content }}
    </section>
  </section>
</section>
<script src="{{ 'assets/js/navbarscroll.js' | relative_url }}"></script>
