<section class="about team">

	<section class="abouttxt">
		<h3>This podcast is brought to you by: <a id="Lee" class="face Lee" href="http://leetusman.com" target="_blank">Lee Tusman</a>, a media artist
		and professor at Purchase College; <a id="Maya" class="face Maya" href="/" target="_blank">Mimi Charles</a> and <a id="Max" class="face Max" href="/" target="_blank">Max Ludlow</a>, musicians and
		audio engineers studying at Purchase College; and
		<a id="Caleb" class="face Caleb" href="https://bycalebstone.com" target="_blank">Caleb Stone</a>, a designer and researcher studying Culture and
		Media at The New School. Season One of Artists and Hackers is supported by Purchase College.</h3>
	</section>


	<section class="button">
		<a href="#" id="submit"><h4>Subscribe &rarr;</h4></a>
  </section>

</section>
<div id="popup" class="popup"></div>
