<section class="about">
	<section class="abouttxt">
		<h3>Artists and Hackers is a podcast dedicated to the communities
      that are building and using new digital tools of creation. We talk to
      programmers, artists, poets, musician, bot-makers, educators, students, and
      designers, in an effort to critically look at both online artmaking and the
      history of technology and the internet. We’re interested in delving into
      where we’ve been and the speculative ideas surrounding the internet’s future.</h3>
	</section>

	
	<section class="button">
		<a href="#" id="submit"><h4>Subscribe &rarr;</h4></a>
  </section>

</section>
