---
---

//Typography
@import url("https://use.typekit.net/kee8qyq.css");
$type: stratos;
$body-line-height: 1.4;
  //Type Sizes
  $h1-size: 5.5vw;
  $h2-size: 3.5vw;
  $h3-size: 2.3vw;
  $h4-size: 1.7vw;
  $h5-size: 1.2vw;




//colors
$red: #E7511C;
$blue: #5584A4;
$yellow: #FECC2F;
$green: #35AC7D;

//body margins
$top-margin: 1vw;
$outer-margin: 2vw;
$inner-margin: 10vw;

//episode margins
$episode-inner: 1vw;
$episode-body-top: 48px;
$episode-body-bottom: 80px;
$episode-body-left: 2vw;

//animation for links
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  nav:hover, div.title:hover, section.button:hover, section.hero div h2:hover, div.ep-title:hover, a:hover, section.contact-list a:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

body{
  font-family: $type;

}

//text size setup
  h1{
    font-size: $h1-size;
  }
  h2{
    font-size: $h2-size;
  }
  h3, p{
    font-size: $h3-size;
    line-height: $body-line-height;
  }
  h4{
    font-size: $h4-size;
  }
  h5{
    font-size: $h5-size;
  }

//Link setup
  a{
    color: black;
  }
  a:hover{
    color: $red;
  }

section.header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: $top-margin;
  margin-left: $outer-margin;
  margin-right: $outer-margin;
}

section.navbar{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $top-margin;
  margin-left: $outer-margin;
  margin-right: $outer-margin;

  nav a{
    font-size: $h2-size;
  }
}

section.parallax{
  img{
    z-index: -1;
  }
  div.computer img{
    position: absolute;
    max-width: 50%;
    height: auto;
    overflow: hidden;

  }
  div.dial img{
    position: absolute;
    right: 0px;
    top: 75vh;
    max-height: 80vh;
    max-width: 50%;
    height: auto;
    overflow: hidden;
  }
}

section.hero{
  display: grid;
  height: 100vh;
  place-items: center;
  padding-left: $inner-margin;
  padding-right: $inner-margin;

  div{
    width: 100%;
    background-color: white;
    border: solid 4px black;
    padding: $episode-inner;

    h3{
      margin-top: $episode-body-top;
      margin-bottom:$episode-body-bottom;
      margin-left: $episode-body-left;
      width: 60%;
    }

    div.tags{
      display: flex;
      margin-left: $episode-body-left;
      width: auto;
      border: none;
      padding: 0;

      h5{
        margin-right: 32px;
      }
      h5.tag1{
        color: $green;
      }
      h5.tag2{
        color: $red;
      }
      h5.tag3{
        color: $blue;
      }
    }
  }
  a.arrow{
    width: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: $top-margin * 2;
    margin-left: auto;
    margin-right: auto;
  }
}

section.about{
  display: grid;
  grid-template-columns: 3fr auto;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-left: $inner-margin;
  padding-right: $inner-margin;
  grid-column-gap: auto;

  section.abouttxt{
    width: 75%;
  }
}
section.team{
  display: flex;
  flex-direction: row-reverse;
}

section.episode-page{
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 8vw;
  margin-left: $inner-margin;
  margin-right: $inner-margin;
  div.bigdisplay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    background-color: $yellow;
    border: solid 4px black;
    padding: $episode-inner;
    margin-bottom: $outer-margin;
  }
  section.episode-content{
    display: grid;
    grid-template-columns: 3fr auto;
    justify-content: space-between;
    grid-column-gap: auto;

    h3{
      width: 75%;
    }
    div.tags{
      display: flex;
      flex-direction: column;
      height: auto;

      div{
        background-color: white;
        border: solid 4px black;
        padding: $episode-inner;
        margin-bottom: $episode-inner;

        h3{
          line-height: 1;
          margin-bottom: $episode-inner;
        }
        h5{
          margin-bottom: .5vw;
          color: data-color;
        }
      }
    }
  }
}

section.episode-list-container{
  section.episode{
    display: grid;
    grid-template-rows: 1fr;
    margin-left: $inner-margin;
    margin-right: $inner-margin;
    margin-bottom: $episode-body-top;


    div{
      width: 100%;
      background-color: white;
      border: solid 4px black;
      padding: $episode-inner;

      h3{
        margin-top: $episode-body-top;
        margin-bottom:$episode-body-bottom;
        margin-left: $episode-body-left;
        width: 60%;
      }

      div.tags{
        display: flex;
        margin-left: $episode-body-left;
        width: auto;
        border: none;
        padding: 0;

        h5{
          margin-right: 32px;
        }
        h5.tag1{
          color: $green;
        }
        h5.tag2{
          color: $red;
        }
        h5.tag3{
          color: $blue;
        }
      }
    }
  }
}

section.episode-organizing-bar{
  margin-top: 10vw;
  display: grid;
  grid-template-rows: 1fr;
  margin-left: $inner-margin;
  margin-right: $inner-margin;
  margin-bottom: $episode-body-top;
  div{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: solid 4px black;
    padding: $episode-inner;

    input{
      border: none;
      border-bottom: 3px solid black;
      font-family: $type;
      font-size: $h4-size;
    }
    select{
      border: none;
      border-bottom: 3px solid black;
      font-family: $type;
      font-size: $h4-size;
    }
  }
}

section.tool-list-container{
  section.tool-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $episode-body-top;
    margin-left: $inner-margin;
    margin-right: $inner-margin;

    section.tool{
      border: solid 4px black;
      padding: $episode-inner;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;

      h3{
        margin-top: $episode-body-left;
        margin-bottom:$episode-body-left;
        margin-left: $episode-body-left;
      }

      div.tags{
        display: flex;
        //margin-left: $episode-body-left;
        width: auto;
        border: none;
        padding: 0;

        h5{
          margin-right: 32px;
        }
        h5.tag1{
          color: $green;
        }
        h5.tag2{
          color: $red;
        }
        h5.tag3{
          color: $blue;
        }
      }

    }
  }
}

section.contact-list{
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  margin-left: $inner-margin;
  margin-right: $inner-margin;
  line-height: 1.2;

  a{
    font-size: 16vw;
  }
}
