---
---

//Typography
@import url("https://use.typekit.net/kee8qyq.css");
$type: stratos;
$body-line-height: 1.5;
  //Type Sizes
  $h1-size: 5.5vw;
  $h2-size: 3.5vw;
  $h3-size: 2.3vw;
  $h4-size: 1.7vw;
  $h5-size: 1.2vw;

//Breakpoints
$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;


//colors
$red: #E7511C;
$blue: #5584A4;
$yellow: #FECC2F;
$green: #35AC7D;

//body margins
$top-margin: 1vw;
$outer-margin: 2vw;
$inner-margin: 10vw;

//episode margins
$episode-inner: 1vw;
$episode-body-top: 4vw;
$episode-body-bottom: 6vw;
$episode-body-left: 2vw;

//about background images
$background-image: none;

//animation for links
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  nav:hover, div.title:hover, section.button:hover, section.hero div h2:hover, div.ep-title:hover, a:hover, section.contact-list a:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

body{
  font-family: $type;
  cursor: none;
}

//text size setup
  h1{
    font-size: $h1-size;
  }
  h2{
    font-size: $h2-size;
  }
  h3{
    font-size: $h3-size;
    line-height: $body-line-height;
  }
  h4{
    font-size: $h4-size;
  }
  h5{
    font-size: $h5-size;
  }

//Link setup
  a{
    color: black;
  }
  a:hover{
    color: $red;
    cursor: none;
  }

#mouseHand{
  display: none;
}

canvas{
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  z-index: 10;
}

section.signup{
  position: fixed;
  width: 100%;
  height: 100vh;
  left: auto;
  display: none;
  z-index: 8;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, .9);

  div.back{
  position: fixed;
  top: 0;
  left: 0;
  font-size: 4vw;
  padding-left: 2vw;
  }
  div.back:hover{
  color: #E7511C;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  }

  label{
  font-family: stratos;
  font-size: 5.5vw;
  }
  div.mc-field-group{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  input.email{
    border: none;
    border-bottom: 3px solid black;
    width: 90vw;
    outline: none;
    background-color: rgba(0,0,0,0);
    font-family: stratos;
    font-size: 5.5vw;
    cursor: inherit;
  }
  div.clear{
    //background-color: blue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input.button{
    margin-top: 10vh;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
    //background-color: red;
    font-family: stratos;
    font-size: 4vw;
    text-decoration: underline;
    cursor: inherit;
    position: absolute;
    bottom: $inner-margin;
  }
  input.button:hover{
    color: #E7511C;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

section.header{
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: $top-margin;
  margin-left: $outer-margin;
  margin-right: $outer-margin;

  div.pod_player{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 32vw;
    height: 4vw;
    border: solid 4px black;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;

    div.progress{
      margin-right: $episode-inner;
      width: 100%;
    }
    progress{
      border: solid 2px black;
      height: 2vw;
      width: 100%;
    }
    progress[value]::-webkit-progress-bar {
      -webkit-appearance: none;
      appearance: none;
      background-color: white;
    }
    progress[value]::-webkit-progress-value {
      background-color: $blue;
    }

    div.playhead{
      position: absolute;
      width: .5vw;
      height: 2vw;
      border: solid 4px black;
      background-color: white;
      left: 0;
      transform: translate(-50%);
    }



    div.plButt{
      //background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: $episode-inner;
      margin-right: $episode-inner;

      svg{
        width: 3vw;
        height: 3vw;
        fill: black;
      }
      svg:hover{
        fill: $red;
      }
    }


    div.progress{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      progress{
        margin-left: $episode-inner;
        margin-right: $episode-inner;
      }
    }
  }
}

section.navbar{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $top-margin;
  margin-left: $outer-margin;
  margin-right: $outer-margin;


  nav{
    //margin-top: $top-margin;
  }
  nav a{
    font-size: $h2-size;
  }
  div.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  div.pod_player{
    display: none;
  }
}

section.parallax{
  img{
    z-index: -1;
  }
  div.computer img{
    position: absolute;
    max-width: 50%;
    height: auto;
    overflow: hidden;

  }
  div.dial img{
    position: absolute;
    right: 0px;
    top: 75vh;
    max-height: 80vh;
    max-width: 50%;
    height: auto;
    overflow: hidden;
  }
}

section.hero{
  display: grid;
  height: 100vh;
  place-items: center;
  padding-left: $inner-margin;
  padding-right: $inner-margin;

  div.titleHero{
    display: flex;
    flex-direction: row;
    align-items: center;

    border: none;
    padding: 0px;

    h4{
      color: $red;
      margin-left: 32px;
    }
  }
  div{
    width: 100%;
    background-color: white;
    border: solid 4px black;
    padding: $episode-inner;

    h3{
      margin-top: $episode-body-top;
      margin-bottom:$episode-body-bottom;
      margin-left: $episode-body-left;
      width: 60%;
    }

    div.tags{
      display: flex;
      margin-left: $episode-body-left;
      width: auto;
      border: none;
      padding: 0;

      h5{
        margin-right: 32px;
      }
    }
  }
  a.arrow{
    width: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: $top-margin * 2;
    margin-left: auto;
    margin-right: auto;
  }
}

section.about{
  display: grid;
  grid-template-columns: 3fr auto;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-left: $inner-margin;
  padding-right: $inner-margin;
  grid-column-gap: auto;

  section.abouttxt{
    width: 75%;
  }
}

section.team{
  display: flex;
  flex-direction: row-reverse;

  a:hover{
    color: $green;
  }
}
div.popup{
  z-index: -1;
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  background-image: $background-image;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section.episode-page{
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 8vw;
  margin-left: $inner-margin;
  margin-right: $inner-margin;


  div.bigdisplay{
    // background-color: $yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;
    //background-image: url({{ post.header-image }});
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    border: solid 4px black;
    padding: $episode-inner;
    margin-bottom: $outer-margin;


    div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    div.playButton{
      justify-content: flex-end;

      svg{
        fill: black;
        height: 4vw;
        width: 4vw;
      }
      svg:hover{
        fill: $red;
      }
    }
  }

  section.episode-content{
    display: grid;
    grid-template-columns: 3fr auto;
    justify-content: space-between;
    grid-column-gap: auto;

    section.article{
      margin-bottom: 5vw;

      a.nameTag{
        font-family: stratos;
        font-size: $h4-size;
        background-color: $yellow;
      }

      p{
        font-family: Times;
        width: 80%;
        font-size: $h4-size;
        line-height: $body-line-height;

        img{
        width: 100%;
        line-height: 0;
        }
        em{
          font-family: stratos;
          font-size: $h5-size;
          background-color: $yellow;
        }
        em.source{
          background-color: $red
        }
      }
      blockquote {
        margin-left: 1vw;
        padding-left: 2vw;
        border-left: solid 4px black;
      }
    }


    h3{
      width: 80%;
    }
    div.tags{
      display: flex;
      flex-direction: column;
      height: auto;

      div{
        background-color: white;
        border: solid 4px black;
        padding: $episode-inner;
        margin-bottom: $episode-inner;

        h3{
          line-height: 1;
          margin-bottom: $episode-inner;
        }
        h5{
          line-height: 1.5;
          color: data-color;
        }
      }
    }
  }
}

section.episode-list-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;

  section.episode{
    display: flex;
    margin-left: $inner-margin;
    margin-right: $inner-margin;
    margin-bottom: $episode-body-top;
    background-color: white;
    border: solid 4px black;

    div{
      padding: $episode-inner;

      h3{
        margin-top: $episode-body-top;
        margin-bottom:$episode-body-bottom;
        margin-left: $episode-body-left;
        width: 60%;
      }

      div.tags{
        display: flex;
        margin-left: $episode-body-left;
        width: auto;

        padding: 0;

        h5{
          margin-right: 32px;
        }
      }
    }
    div.play_butt{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 4vw;

      a:hover{
        animation: none;
      }
      svg{
        width: 8vw;
        fill: black;
      }
      svg:hover{
        fill: $red;
      }
    }
  }

}

section.episode-organizing-bar{
  margin-top: 10vw;
  display: grid;
  grid-template-rows: 1fr;
  margin-left: $inner-margin;
  margin-right: $inner-margin;
  margin-bottom: $episode-body-top;

  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: solid 4px black;
    padding: $episode-inner;

    #search-container{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      align-items: flex-start;

      ul{
        font-size: $h4-size;
        li{
          margin-top: $episode-inner;
        }
      }
    }
    #placeholder{
      padding: 0px;
      margin: 0px;
      border: none;
    }
    input{
      border: none;
      border-bottom: 3px solid black;
      font-family: $type;
      font-size: $h4-size;

    }
    select{
      appearance: none;
      -webkit-appearance:none;
      background-color: white;
      border: none;
      border-bottom: 3px solid black;
      font-family: $type;
      font-size: $h4-size;
    }
  }
}

section.tool-list-container{
  section.tool-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $episode-body-top;
    margin-left: $inner-margin;
    margin-right: $inner-margin;
    margin-bottom: 5vw;

    section.tool{
      border: solid 4px black;
      padding: $episode-inner;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;

      h3{
        margin-top: $episode-body-top;
        margin-bottom:$episode-body-bottom;
        margin-left: $episode-body-left;
        width: 80%;
      }

      div.tags{
        display: flex;
        //margin-left: $episode-body-left;
        width: auto;
        border: none;
        padding: 0;

        h5{
          margin-right: 32px;
        }
      }

    }
  }
}

section.contact-list{
  display: flex;
  flex-direction: column;

  margin-left: $inner-margin;
  margin-right: $inner-margin;

  div{
    margin-top: 6vw;
  }
  a{
    font-size: 16vw;
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 800px) {
  //canvas
  body{
    cursor: auto;
  }
    canvas{
      display: none;
    }

  //font Sizes
    h1{
      font-size: 7vw;
    }
    h2{
      font-size: 6vw;
    }
    h3{
      font-size: 4vw;
    }
    h4{
      font-size: 3vw;
    }
    h5{
      font-size: 3vw;
    }

    nav:hover, div.title:hover, section.button:hover, section.hero div h2:hover, div.ep-title:hover, a:hover, section.contact-list a:hover{
      animation: shake 1s;
      animation-iteration-count: infinite;
    }

    section.header{
      div.description{
        display: none;
      }
    }


  // episode list page
    section.episode-organizing-bar{
      margin-left: 5vw;
      margin-right: 5vw;

      div{
        #search-container{
          ul{
            font-size: 2.5vw;;
          }
        }
        #placeholder{
          padding: 0px;
          margin: 0px;
          border: none;
        }
        input{
          font-size: 2.5vw;
          background-color: none;
        }
        select{
          -webkit-appearance:none;
          font-size: 2.5vw;
        }
      }
    }
    //episode list
    section.episode-list-container{
      section.episode{

        margin-left: 5vw;
        margin-right: 5vw;

        div.play_butt{
          display: none;
        }

        div{
          h3{
            width: auto;
          }
          div.tags{
            h5{
              margin-right: 3vw;
            }
          }
        }
      }
    }

  //tool tool list
    section.tool-list-container{
      section.tool-grid{
        grid-template-columns: 1fr;
        margin-left: 5vw;
        margin-right: 5vw;
      }
    }

  //episode page
  section.episode-page{
    grid-template-rows: 1fr;
    margin-top: 10vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 15vw;

    div.bigdisplay{
      height: 30vh;
      div.playButton{
        svg{
          height: 12vw;
          width: 12vw;
        }
      }
    }

    section.episode-content{
      grid-template-columns: 1fr;

      section.article{
        order: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
          width: 80%;
          font-size: 3vw;
          em{
            font-size: 2vw;
          }
        }
      }

      h3.description{
        order: 2;
        margin-top: 2vw;
        margin-bottom: 4vw;
        width: 100%;
      }
      div.tags{
        order: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  //podcast player
  div.pod_player{
    display: none;
    position: block;
    top: 0;
    right: 0;
    width: 32vw;
    height: 4vw;
    border: solid 4px black;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;

    div.progress{
      margin-right: $episode-inner;
    }
    progress{
      border: solid 1px black;
      height: 3vw;
    }
    progress[value]::-webkit-progress-bar {
      -webkit-appearance: none;
      appearance: none;
      background-color: white;
    }
    progress[value]::-webkit-progress-value {
      background-color: $blue;
    }

    div.playhead{
      display: none;
      position: absolute;
      width: .5vw;
      height: 2vw;
      border: solid 4px black;
      background-color: white;
      left: 0;
      transform: translate(-50%);
    }



    div.plButt{
      //background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: $episode-inner;

      svg{
        width: 3vw;
        height: 3vw;
        fill: black;
      }
      svg:hover{
        fill: $red;
      }
    }


    div.progress{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      progress{
        margin-left: $episode-inner;
        margin-right: $episode-inner;
      }
    }
  }
  //navbar
  section.navbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: $top-margin;
    margin-left: $outer-margin;
    margin-right: $outer-margin;

    div.nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    div.pod_player{
      display: none;
      width: 100%;
      height: 14vw;
      margin-top: 1vw;
      padding: 2vw;
      padding-left: 0vw;

      div.plButt{
        svg{
          width: 12vw;
          height: 12vw;
        }
        margin-right: 1vw;
      }

      div.progress{
        width: 90%;


        progress{
          width: 100%;
          height: 7vw;
        }
      }
    }
    nav a{
      font-size: 5vw;
    }
  }

  //contact List
  section.contact-list{
    div{
      margin-top: 0px;
      margin-bottom: 0px;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  //about
  section.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    section.abouttxt{
      width: 100%;
    }

    section.button{
      margin-top: 5vw;
      display: flex;
      justify-content: center;
      a{
        h4{
          animation: shake 1s;
          animation-iteration-count: infinite;
          font-size: 4vw;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  div.pod_player{
    border: solid 2px black;
  }
  div.playhead{
    border: solid 2px black;
  }
  section.hero{
    div{
      h3{
        width: 100%;
      }
    }
    div{
      border: solid 2px black;
    }
  }
  section.episode-page{
    div.bigdisplay{
      border: solid 2px black;
    }
    section.episode-content{
      div.tags{
        div{
          border: solid 2px black;
        }
      }
      h3.description{
        font-size: 6vw;
      }
      section.article{
        p{
          width: 100%;
          font-size: 4.5vw;
          em{
            font-size: 3vw;
          }
        }
      }
    }
  }
  section.episode-list-container{
    section.episode{
      border: solid 2px black;
    }
  }
  section.tool-list-container{
    section.tool-grid{
      section.tool{
        border: solid 2px black;
      }
    }
  }
  section.episode-organizing-bar{
    div{
      border: solid 2px black;
      input{
        border-bottom: solid 2px black;
      }
      select{
        -webkit-appearance:none;
        border-bottom: solid 2px black;
      }
    }
  }
  section.navbar{
    div.pod_player{
      padding: 1vw;

    }
  }
}
