<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artists and Hackers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}" />
  </head>
  <body>
    {% include header.html %}
    {% include navbar.html %}
    {% include parallax-img.html %}
    <section>
      {{ content }}
    </section>

    <script src="{{ 'assets/js/p5.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/parallax.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/audioplayer.js' | relative_url }}"></script>

  </body>
</html>
