<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}" />

    <meta name="description" content="Artists and Hackers is a podcast dedicated to the communities that are building and using new digital tools of creation. We talk to programmers, artists, poets, musicians, bot-makers, educators, students, and designers, in an effort to critically look at both online artmaking and the history of technology and the internet. We’re interested in where we’ve been and speculative ideas on the future.">

    <meta name="description" content="Page description. No longer than 155 characters." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@artistshacking">
    <meta name="twitter:title" content="Artists and Hackers">
    <meta name="twitter:description" content="Artists and Hackers is a podcast dedicated to the communities that are building and using new digital tools of creation.">
    <meta name="twitter:creator" content="@artistshacking">
    <meta name="twitter:image" content="{{site.baseurl}}/assets/images/logo.png">

    <!-- Open Graph data -->
    <meta property="og:image" content="{{site.baseurl}}/assets/images/logo.png" />
    <meta property="og:description" content="Artists and Hackers is a podcast dedicated to the communities that are building and using new digital tools of creation." />
    <meta property="og:site_name" content="Artists and Hackers" />

  </head>
  <body>
    {% include signup.html %}
    {% include header.html %}
    {% include navbar.html %}
    {% include parallax-img.html %}
    <section>
      {{ content }}
      <img src="{{site.baseurl}}/assets/images/hand4.png" alt="hand" id="mouseHand" />
      <!-- <img src="{{ site.baseurl }}/assets/images/dither_it_1140-civil-rights-movements-1963-march.imgcache.rev0592dbf1fe2616b4f127a4f315f14d10.jpg" alt="" id="mouseHand"> -->
    </section>

    <script src="https://github.com/processing/p5.js/releases/download/1.1.9/p5.min.js"></script>
    <script src="{{ 'assets/js/parallax.js' | relative_url }}"></script>

    <script src="{{ 'assets/js/hand.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/tagColor.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/submit.js' | relative_url }}"></script>

  </body>
</html>
